.App {
  flex-direction: row;
  background-color: rgba(247,247,247,255);
}

.DOB-picker {
  height: 50%;
  background-color: rgba(247,247,247,255);
  width: 50%;
  margin: auto;
}
.DOB-label {
  color: rgba(180,180,180,255);
}

#DOB {
  margin: 10px 0;
}

/* .container {
  border-radius: 10px;
  background-color: rgba(255,255,255,255);
  max-width: ;
  box-shadow: 0 0 15px #ebebeb;
} */

.date {
  display: flex;
  background-color: white;
  width: 200px;
  justify-content: space-evenly;
}

.month-container {
  flex-direction: column;
  justify-content: space-between;
}

.text {
  flex: 1;
}
